*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
a{
    text-decoration: none;
}


 .card{
    background-color: rgb(97, 104, 104);
    padding: 40px;
    width: 1000px;
   
    display: flex;
    gap: 30px;
    
 }  
 
 
 .box{
    background-color: antiquewhite;
    padding: 20px;
    
    
 }

.emoj{
    background-color: rgb(18, 19, 18);
    color: azure;
    padding: 3px;
    border: none;
    border-radius: 5px;
    position: relative;
    top: 5px;
}

.box > h2{
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   position: relative;
   top: 10px;
}
    
   


.paint{
    width: 250px;
    height: 250px;
    border: none;
    border-radius: 10px;
}
